@import "bootstrap-sprockets";
@import "bootstrap";

$main_color: rgba(0,112,108,0.8);
$sub_str_color: #515151;

body{
  font-family: 'Mochiy Pop P One', sans-serif;
}
a:active{
  text-decoration: none !important;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* デバックのスタイス */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* デバックのスタイス終わり */

// flashメッセージスタイル
  .success_dsn{
    text-align: center;
    background: $main_color;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
    font-size: 14px;
    border: 1px solid #e7e7e7;
    opacity: 0.8;
  }
// flashメッセージスタイル終わり

// エラーメッセージスタイル
.error_main{
  padding: 10px;
  border: 1px solid #ffc1c1;
  background: #ffdddd;
  font-size: 10px;
  text-align: left;
  width: 60%;
  margin: 0px auto 13px 0;
  border-radius: 5px;
  p{
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #8c1818;
  }
  li{
    color: #8c1818;
    list-style: none;
  }
}

.error_content{
  margin: 0;
  padding: 0;
  list-style: none;
}

.part_error{
  color: #8c1818;
  margin: 0;
  position: relative;
  top: 20px;
}

.part_error_edit{
  color: #8c1818;
  margin: 0;
}

.tax_beyond{
  display: flex;
  background: #ffdddd;
  color: #b62323;
  .beyond{
    line-height: 111px;
    font-size: 1.1vw;
    height: 108px;
    margin: 0;
    padding: 0;
  }
  .fa.fa-exclamation-circle {
    font-size: 25px;
    height: 100px;
    line-height: 113px;
    margin-left: 10%;
  }
}
// エラーメッセージ系のスタイル終わり

.fas{
  color: $sub_str_color;
  margin-right: 20px;
  line-height: 45px;
}

// ヘッダーのスタイル
.header{
  display: flex;
  width: 100%;
  height: 53px;
  padding: 5px 52px 0 76px;
  box-shadow: 2px -1px 4px 0px black;
  border-bottom: 1px solid #efefef;
  .header_left{
    width: 13%;
    display: flex;
    &:hover{
      text-decoration: none;
      opacity: 0.9;
    }
    img{
      height: 40px;
    }
    .header_left_p{
      display: flex;
      flex-direction: column;
      margin: 0;
      font-family: cursive;
      margin: 8px 0 0 9px;
      line-height: 13px;
      color: $sub_str_color;
      &span{
        margin-left: 16px;
      }
    }
  }

  ul{
    width: 75%;
    list-style: none;
    display: flex;
    margin: 0;
    height: 100%;
    padding: 12px 0 0 0;
    li{
      font-size: 14px;
      text-align: center;
      width: 90px;
      &:hover{
        border-bottom: 2.5px solid $main_color;
      }
      a{
        color: $sub_str_color;
        &:hover{
          text-decoration: none;
        }
      }
    }

    .line_nav{
      border-bottom: 2.5px solid $main_color;
    }
  }
  
  .header_right{
    width: 12%;
    display: flex;
    line-height: 47px;
    font-size: 25px;
    a{
      font-size: 28px;
      &:hover{
        text-decoration: none;
        opacity: 0.7;
      }
    }
    .header_right_right{
      display: flex;
      background: none;
      border: none;
      height: 50px;
      .fas.fa-sign-out-alt{
        margin-right: 10px;
      }
      .sign_in_out{
        font-size: 11px;
        color: $sub_str_color;
      }
    }
  }
}

.none{
  opacity: 0.4;
  &:hover{
    border-bottom: none !important;
  }
}
// ヘッダーのスタイル終わり

// 会員登録画面のスタイル
.entry_title{
  font-weight: 200;
  color: $main_color;
  margin: 15px 0 0 0;
  display: flex;
  margin: 8px 0 0 6px;
  line-height: 15px;
  img{
    height: 46px;
  }
  .entry_title_p{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 6px;
    line-height: 15px;
  }
}
.entry_top{
  display: flex;
  margin: 20px auto 0 auto;
  .step1{
    background: lightgray;
    color: white;
    padding:  27px 0;
    text-align: center;
    font-size: 18px;
    height: 78px;
    width: 330px;
  }
  .step2, .step3{
    background: lightgray;
    color: white;
    padding:  27px 0;
    text-align: center;
    font-size: 18px;
    height: 78px;
    position: relative;
    left: -22px;
    width: 330px;
  }
  .step3{
    position: relative;
    left: -45px;
  }
  .step1_triangle{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-left: 25px solid lightgray;
    height: 0px;
    width: 0px;
    position: relative;
    top: 20px;
  }
  .step2_triangle{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-left: 25px solid lightgray;
    height: 0px;
    width: 0px;
    position: relative;
    left: -22px;
    top: 20px;
  }
  /* 右の三角 */
  .a{
    border-top: 39px solid lightgray;
    border-bottom: 39px solid lightgray;
    border-left: 26px solid transparent;
    position: relative;
    left: -22px;
    width: 0;
    height: 0;
    top: 20px;
  }
  .a2{
    border-top: 39px solid lightgray;
    border-bottom: 39px solid lightgray;
    border-left: 26px solid transparent;
    position: relative;
    left: -45px;
    top: 20px;
    width: 0;
    height: 0;
  }
  /* 右の三角終わり */
}
.login_info_msg{
  padding-bottom: 10px;
  font-size: 19px;
  border-bottom: 1px solid #BAB6B6;
  margin: 14px 0;
  max-width: 1048px;
}
.entry_form{
  border: 1px solid #BAB6B6;
  max-width: 1048px;
  margin: 0 0 30px 0;
  box-shadow: 1px 2px 6px lightgrey;
  height: 362px;
  .login_form_detail{
    background: lightgray;
    margin: 0;
    padding: 6px 22px;
    .form_span{
      color: brown;
      margin-left: 9px;
    }
  }
}
.entry_form2{
  border: 1px solid #BAB6B6;
  max-width: 1048px;
  margin: 0 0 30px 0;
  box-shadow: 1px 2px 6px lightgrey;
  height: 249px;
  .entry_form_info{
    margin: 9px 23px;
    font-weight: bold;
  }
  .login_form_detail{
    background: lightgray;
    margin: 0;
    padding: 6px 22px;
    .form_span{
      color: brown;
      margin-left: 9px;
    }
  }
}
.form_input{
  margin: 10px 24px;
  height: 22px;
  margin-bottom: 15px;
  width: 210px;
}
.entry_button{
  margin-left: 24px;
  border: 1px solid #D5D5D5;
  background: white;
  color: $main_color;
  font-weight: 400;
  width: 260px;
  padding: 5px 115px;
  &:hover{
    text-decoration: none;
  }
}
.entry_button1{
  margin-left: 24px;
  border: 1px solid #D5D5D5;
  background: $main_color;
  color: white;
  font-weight: 400;
  width: 260px;
  height: 27px;
  &:hover{
    opacity: 0.9;
  }
}
// 会員登録画面のスタイル終わり

// ログイン画面のスタイル
.login_title{
  text-align: center;
  margin: 100px 0 60px 0;
  font-size: 50px;
  font-weight: bold;
  color: rgba(0,112,108,0.8);
  text-shadow: 4px 2px 0 grey;
}
.login_form{
  text-align: center;
  .login_part{
    display: flex;
    width: 600px;
    margin: 6px auto;
    .login_part_p{
      color: #5f5f5f;
      width: 140px;
      margin: 0;
      line-height: 32px;
    }
    .login_filed{
      width: 60%;
      border-radius: 3px;
      border: 1px solid #afafaf;
      height: 30px;
    }
  }
}

.login_submit {
  position: relative;
  z-index: 1;
  width: 241px;
  transition: color .3s cubic-bezier(.02,.01,.47,1),border-color .3s cubic-bezier(.02,.01,.47,1);
  color: $main_color;
  background: transparent;
  overflow: hidden;
  border: 1px solid $main_color;
  border-radius: 6px;
  font-size: 25px;
  margin-top: 30px;
}
.login_submit:after, .login_submit:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  content: '';
  transition: transform 0.15s cubic-bezier(0.02,0.01,0.47,1),opacity 0.15s cubic-bezier(0.02,0.01,0.47,1);
  opacity: 0;
}
.login_submit:after {
  -webkit-transform: translate3d(110%,-10%,0) skewX(-20deg);
  transform: translate3d(110%,-10%,0) skewX(-20deg);
  background: $main_color;
}
.login_submit:hover {
  transition: all 0.5s cubic-bezier(0.02,0.01,0.47,1);
  box-shadow: 0 1px 6px rgba(0,0,0,0.3);
  color: #FFFFFF;
  background: $main_color;
  border: 1px solid $main_color;
}
.login_submit:active {
  opacity: 0.5;
  color: $main_color;
}
.login_submit:focus {
  border: 1px solid $main_color;
  color: $main_color;
}
.login_submit:focus:hover {
  color: #FFFFFF;
  border: 1px solid $main_color;
}

.entry_link{
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  .login_link{
    font-weight: bold;
    color: #4aa5b4;
  }
}

.login_part_end{
  margin: 0px auto;
  display: flex;
  width: 180px;
  .login_remember{
    color: #5f5f5f;
    margin-right: 10px;
  }
}
// ログイン画面のスタイル終わり

// ホームのスタイル
  .home{
    width: 50% !important;
  }
  .home_icon{
    margin-left: 10px !important;
    width: 10% !important;
  }

  .grah{
    margin: 34px 10px 3px 20px;
    font-size: 21px;
    width: 21%;
    display: flex;
    text-align: center;
    a{
      display: inline-block;
      width: 50%;
      color: #515151;
      padding-bottom: 7px;
      &:hover{
        text-decoration: none;
        border-bottom: 3.5px solid $main_color;
      }
    }
    .grah_selected{
      border-bottom: 3.5px solid $main_color;
      margin-right: 5px;
    }
  }
// ホームのスタイル終わり

// 設定画面のスタイル
.setting_title{
  font-family: monospace;
  font-weight: bold;
  opacity: 0.3;
  font-size: 40px;
}
.setting_name{
  margin-top: 30px;
  a{
    display: inline-block;
    font-size: 20px;
    color: #565a5e;
    width: 120px;
    text-align: center;
    &:hover{
      text-decoration: none;
      border-bottom: 3px solid $main_color;
    }
  }
  .setting_a{
    border-bottom: 3px solid $main_color;
  }
}

.bussines_title{
  margin: 50px 0 35px 0;
  font-family: monospace;
}

.id_name{
  display: flex;
  border-bottom: 1px solid #ababab;
  width: 100%;
  padding: 0 14px;
  margin-top: 10px;
  p:first-child{
    width: 14%;
  }
  .id{
    width: 30%;
  }
  .delete_btn{
    line-height: 20px;
    font-weight: 100;
    padding: 0 28px;
    height: 22px;
    margin: 0 0 0 auto;
  }

  .edit_btn{
    line-height: 20px;
    font-weight: 100;
    padding: 0 28px;
    height: 22px;
    margin: 0 0 0 6px;

  }
}

.supplier_new, .income_detail{
  margin: 6px 0 0 auto;
  text-align: right;
  line-height: 22px;
  padding: 0 17px;
  font-size: 11px;
  height: 26px;
  font-weight: 100;
  border-radius: 5px;
  color: #4E342E;
  background: #FDD835;
  border: 2px solid #FBC02D;
  border-top: 2px solid #FFEB3B;
  border-left: 2px solid #FFEB3B;
  &:hover{
    text-decoration: none;
  }
}
.update{
  width: 63px;
}
.top{
  background-color: #a3a3a385;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.not_supplier{
  margin: 15px 0 0 0;
  width: 45%;
  text-align: center;
  font-size: 15px;
  font-family: monospace;
}

.destroy_btn{
  margin-left: auto;
}

//設定画面新規登録のスタイル
.new_supplier_name{
  font-size: 40px;
  margin: 40px 0 0 0;
  font-weight: bold;
  opacity: 0.3;
  font-family: monospace;
}

.entry_form_supplier{
  border: 1px solid #BAB6B6;
  max-width: 1048px;
  margin: 0 0 30px 0;
  box-shadow: 1px 2px 6px lightgrey;
  height: 125px;
  margin-top: 10px;
  .login_form_detail{
    background: lightgray;
    margin: 0;
    padding: 6px 22px;
    .form_span{
      color: brown;
      margin-left: 9px;
    }
  }
  #price{
    margin: 14px 10px 14px 24px;
  }

  .entry_form_info{
    font-weight: bold;
    margin: 14px 0px 13px 23px;
  }
}
//設定画面新規登録のスタイル終わり

// 設定画面のスタイル終了

// 本業収入画面のスタイル
.main_income{
  display: flex;
  margin-top: 20px;
}

.fa-dollar-sign{
  margin-right: 8px;
  line-height: 33px;
  font-size: 27px;
}

.main_income_title{
  font-size: 22px;
}
.import_icon{
  margin-left: 12% !important;
}

.income_content_main_top, .income_content_main_top_bottom, .income_content_main_top_midle{
  display: flex;
}

.home_huyou_price{
  margin: 10px 0 30px 0;
}

// 四角のスタイルの部品化
.income_content, .income_year, .tax_dependents{
  height: auto;
  width: 32%;
  margin-top: 30px;
  margin-right: 26px;
  text-align: center;
  border: 1px solid #d5d5d5;
  box-shadow: 1px 2px 8px #d2d2d2;
  .business_form{
    padding: 19px 20px;
  }
}
#income_month{
  margin-right: 20px;
}

// ＄マークとタイトルがあるところのスタイルの部品化
.business_title{
  padding: 15px 10% 0 20%;
  border-bottom: 1px solid gray;
  display: flex;
  background: $main_color;
  width: 100%;
  .fa-dollar-sign{
    width: 13%;
    border-radius: 50%;
    background: white;
    height: 34px;
    color: $main_color;
  }
  h1{
    font-size: 25px;
    margin: 0 0 17px 0;
    color: white;
    width: 65%;
  }
  
}

.part{
  padding: 15px 10% 0 13%;
  .ration_income{
    width: 96%;
  }
}

.business_bottom{
  margin: 10px 0;
  #income_price{
    width: 36%;
    margin-right: 5px;
  }
  .business_submit{
    margin-left: 16px;
  }
}

.year_income{
  margin: 30px 0;
  font-size: 30px;
}

.huyou_p{
  margin: 20px 0 0 0;
}

.huyou_price{
  margin: 10px 0 0 0;
}

.income_content_main_bottom{
  display: flex;
  .monthly_income{
    width: 45%;
  }
  .monthly_part{
    width: 37%;
  }

  .graph_income{
    margin: 50px 50px 0 0;
  }
}

.monthly_income_header{
  border-bottom: 1px solid lightgray;
  display: flex;
  margin: 35px 0 5px 0;
  width: 80%;
  padding: 5px 18px;
  font-size: 20px;
  .month{
    width: 35%;
  }

}
// 各月の収入のスタイル
.part_income{
  width: 25%;
}
.part_income_name{
  width: 26%;
}
.part_income_info{
  width: 25%;
}
.part_income_name_info{
  width: 36%;
}
.part_income_create_info{
  width: 31%;
  margin: 0 0 10px;
}

.month_part_income_tr{
  border-bottom: 1px solid lightgray;
  display: flex;
  margin: 10px 0 5px 0;
  width: 80%;
  padding: 0 18px;
  .month{
    width: 35%;
  }
  .income_info{
    display: flex;
    width: 277px;
    .income{
      width: 52%;
      margin: 4px 0 0 0;
    }
    .income_detail{
      margin: 0 0 10px 12px;
    }
  }
  .right{
    width: 340px;
  }
}
.part_income_header{
  width: 97%;
}
.part_income_tr{
  font-size: 11px;
  line-height: 21px;
  width: 97.5%;
}

.month_income_total{
  display: flex;
  width: 100%;
  padding: 5px 18px;
  font-size: 20px;
  .total{
    width: 29%;
  }
}
// 本業収入画面のスタイル終了

// 経費画面のスタイル
  #expense_month{
    margin-right: 10px;
  }
  #expense_price{
    width: 33%;
    margin-right: 10px;
  }
// 経費画面のスタイル終了